In [2]:
import pandas as pd

df = pd.read_json('dataset.json')
df

,name,constellation,spectral-class,radius,rotation,age,distance,absolute-magnitude,file_name
0,Антарес 6697,Близнецы,N4Q,784748957,920.77 days,5.28 billion years,1821819.9 million km,4.1 million km,1.xml
1,Фомалхаут 5201,Козерог,X6A,61542198,344.17 days,3.87 billion years,1682213.72 million km,6.94 million km,10.xml
2,Вега 9096,Телец,T6E,757571578,161.46 days,2.14 billion years,8384983.78 million km,1.28 million km,100.xml
3,Бетельгейзе 1318,Овен,O1C,384426745,934.48 days,3.44 billion years,5864984.01 million km,3.62 million km,101.xml
4,Вега 9163,Близнецы,A4E,706948798,545.07 days,0.87 billion years,2477671.3 million km,5.05 million km,102.xml
...,...,...,...,...,...,...,...,...,...
495,Антарес 4869,Близнецы,U6H,467420390,231.52 days,5.65 billion years,7346307.72 million km,3.87 million km,95.xml
496,Альфа Центавра 9893,Водолей,O0U,819883097,4.86 days,3.61 billion years,3675168.99 million km,6.03 million km,96.xml
497,Антарес 7870,Телец,S4D,750642939,580.02 days,3.33 billion years,4641529.76 million km,2.78 million km,97.xml
498,Бетельгейзе 4640,Козерог,R6V,889586198,461.3 days,4.01 billion years,5725528.21 million km,6.27 million km,98.xml
499,Бетельгейзе 5958,Скорпион,I1Y,582872037,928.1 days,2.93 billion years,5161080.85 million km,6.24 million km,99.xml

In [3]:
# анализ полученного датасета
df.describe(include='all')

,name,constellation,spectral-class,radius,rotation,age,distance,absolute-magnitude,file_name
count,500,500,500,5.000000e+02,500,500,500,500,500
unique,500,12,474,NaN,497,330,500,394,500
top,Антарес 6697,Овен,U9C,NaN,167.56 days,1.46 billion years,1821819.9 million km,1.59 million km,1.xml
freq,1,50,3,NaN,2,8,1,4,1
mean,NaN,NaN,NaN,5.071607e+08,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,2.880999e+08,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,2.428650e+05,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,2.750734e+08,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,5.225570e+08,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,7.444638e+08,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,9.945710e+08,NaN,NaN,NaN,NaN,NaN

In [5]:
df.sort_values(by='radius')[249:251]

,name,constellation,spectral-class,radius,rotation,age,distance,absolute-magnitude,file_name
20,Фомалхаут 6807,Козерог,Q9R,522485592,373.55 days,2.84 billion years,3098309.63 million km,2.31 million km,117.xml
411,Солнце 8122,Водолей,I2S,522628318,119.32 days,1.46 billion years,5894065.81 million km,2.01 million km,47.xml

In [8]:
# убеждаемся, что всё кончается на ' million km'
df['distance'].str.contains(' million km').describe()

count      500
unique       1
top       True
freq       500
Name: distance, dtype: object

In [9]:
# чтение обработанного датасета
hled_df = pd.read_json('handled_dataset.json')
hled_df

,name,constellation,spectral-class,radius,rotation,age,distance,absolute-magnitude,file_name
0,Антарес 3302,Весы,A8E,543334404,461.04 days,4.67 billion years,2474.54 million km,7.89 million km,287.xml
1,Полярная звезда 7521,Скорпион,V8M,604504118,615.27 days,5.74 billion years,3045.11 million km,3.03 million km,393.xml
2,Полярная звезда 5538,Дева,I6Z,619265215,361.08 days,5.02 billion years,22317.01 million km,3.67 million km,273.xml
3,Ригель 1018,Телец,S8B,870785489,485.52 days,4.07 billion years,235562.11 million km,4.31 million km,305.xml
4,Хадар 6906,Стрелец,F3L,940078557,422.48 days,2.3 billion years,248050.94 million km,3.45 million km,207.xml
...,...,...,...,...,...,...,...,...,...
256,Фомальгаут 3573,Стрелец,W2C,684193906,965.23 days,1.69 billion years,9903995.58 million km,4.88 million km,261.xml
257,Канопус 2739,Близнецы,R9F,967834053,183.39 days,4.08 billion years,9910870.37 million km,3.4 million km,463.xml
258,Фомальгаут 3871,Козерог,W3K,994570975,488.92 days,4.79 billion years,9929592.27 million km,5.37 million km,350.xml
259,Антарес 8090,Рак,X5C,785439758,666.6 days,3.27 billion years,9962557.85 million km,2.93 million km,40.xml
260,Фомальгаут 2740,Рак,C3Y,947474624,149.71 days,4.11 billion years,9999649.75 million km,5.55 million km,359.xml

In [10]:
# проверка на корректную фильтрацию
hled_df['radius'].describe()

count    2.610000e+02
mean     7.468326e+08
std      1.431648e+08
min      5.047014e+08
25%      6.241492e+08
50%      7.307766e+08
75%      8.707855e+08
max      9.945710e+08
Name: radius, dtype: float64

In [15]:
# проверка на корректную сортировку
(hled_df.index == hled_df['distance'].str.removesuffix(' million km').astype(float).sort_values().index).sum() == hled_df['distance'].count()

True