In [2]:
import pandas as pd

df = pd.read_json('dataset.json')
df.describe(include='all')

,file_name,data_id,href,src_img,title,price,bonus,params
count,1502,1502.000000,1502,1502,1502,1502.000000,1502.000000,1502
unique,27,NaN,1488,1501,1448,NaN,NaN,1497
top,22.html,NaN,/product/35924,/upload/544094.jpg,"5.9"" Transcend 80GB",NaN,NaN,{'sim': '2 SIM'}
freq,97,NaN,2,2,3,NaN,NaN,3
mean,NaN,54895.433422,NaN,NaN,NaN,258907.416778,2588.574567,NaN
std,NaN,25952.039045,NaN,NaN,NaN,143959.294620,1439.578292,NaN
min,NaN,10113.000000,NaN,NaN,NaN,10688.000000,106.000000,NaN
25%,NaN,32872.000000,NaN,NaN,NaN,136122.250000,1360.500000,NaN
50%,NaN,54628.500000,NaN,NaN,NaN,256079.500000,2560.000000,NaN
75%,NaN,77541.500000,NaN,NaN,NaN,384189.750000,3841.750000,NaN
max,NaN,99877.000000,NaN,NaN,NaN,499588.000000,4995.000000,NaN

In [3]:

keys = list()
for row in (set(dict(row).keys()) for row in df.params):
    keys.extend(list(row))
keys = list(set(keys))

In [4]:
df1 = pd.DataFrame(columns=list(df.columns[:-1])+keys)
df1

Empty DataFrame
Columns: [file_name, data_id, href, src_img, title, price, bonus, acc, sim, resolution, processor, camera, ram, matrix]
Index: []

In [5]:
for i, row in df.iterrows():
    # buffer_params = pd.DataFrame({param[0]:[param[1]] for param in row['params'].items()})
    buffer_params = pd.Series(row['params'])
    df1.loc[i] = pd.concat([buffer_params,row[:-1]])
df1

,file_name,data_id,href,src_img,title,price,bonus,acc,sim,resolution,processor,camera,ram,matrix
0,1.html,28210,/product/28210,/upload/342595.jpeg,"5.9"" Nokia 208GB",102059,1020,NaN,NaN,2560x1080,NaN,58 MP,4 GB,NaN
1,1.html,86430,/product/86430,/upload/690884.svg,"6.1"" AMD 144GB",111304,1113,NaN,2 SIM,2560x1440,NaN,NaN,8 GB,OLED
2,1.html,30739,/product/30739,/upload/274971.svg,"7.5"" LG 240GB",214102,2141,NaN,NaN,1600x768,4x2.5 ГГц,124 MP,6 GB,OLED
3,1.html,58052,/product/58052,/upload/155790.jpg,"6.3"" Texas Instruments 176GB",462920,4629,6572 мА * ч,NaN,1600x1440,6x2.6 ГГц,70 MP,NaN,NaN
4,1.html,97371,/product/97371,/upload/482040.svg,"6.5"" NVIDIA 240GB",380933,3809,2473 мА * ч,NaN,NaN,6x4.5 ГГц,NaN,NaN,IPS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1497,9.html,36195,/product/36195,/upload/823818.jpeg,"7.3"" MSI 16GB",282071,2820,4688 мА * ч,NaN,NaN,6x1.7 ГГц,100 MP,NaN,AMOLED
1498,9.html,40978,/product/40978,/upload/535649.jpeg,"6.1"" OPPO 208GB",79748,797,3300 мА * ч,3 SIM,1600x2160,4x2.2 ГГц,29 MP,10 GB,NaN
1499,9.html,41004,/product/41004,/upload/851243.svg,"6.7"" Qualcomm 192GB",287325,2873,NaN,3 SIM,NaN,6x4.0 ГГц,NaN,13 GB,NaN
1500,9.html,39074,/product/39074,/upload/236282.jpeg,"5.5"" Microsoft 32GB",106872,1068,NaN,2 SIM,1024x1366,4x4.2 ГГц,24 MP,NaN,NaN
1501,9.html,36015,/product/36015,/upload/762399.png,"7.2"" Samsung 96GB",394840,3948,5410 мА * ч,4 SIM,NaN,8x3.8 ГГц,NaN,NaN,NaN

In [6]:
df1.describe(include='all')

,file_name,data_id,href,src_img,title,price,bonus,acc,sim,resolution,processor,camera,ram,matrix
count,1502,1502,1502,1502,1502,1502,1502,901,893,924,854,882,885,914
unique,27,1488,1488,1501,1448,1502,1286,832,4,36,164,113,15,3
top,22.html,35924,/product/35924,/upload/544094.jpg,"5.9"" Transcend 80GB",102059,360,5352 мА * ч,2 SIM,1600x768,8x3.8 ГГц,34 MP,11 GB,AMOLED
freq,97,2,2,2,3,1,4,3,228,36,11,16,67,318

In [7]:
handled_dataset = pd.read_json('handled_dataset.json')
handled_dataset

,file_name,data_id,href,src_img,title,price,bonus,params
0,23.html,54849,/product/54849,/upload/458664.webp,"6.0"" Seagate 112GB",497097,4970,"{'sim': '4 SIM', 'resolution': '1024x1080', 'c..."
1,18.html,18893,/product/18893,/upload/143819.webp,"7.5"" SanDisk 80GB",496793,4967,"{'processor': '8x3.3 ГГц', 'resolution': '2560..."
2,4.html,52083,/product/52083,/upload/390428.svg,"7.1"" SanDisk 240GB",479141,4791,"{'processor': '6x1.8 ГГц', 'sim': '3 SIM', 'ca..."
3,3.html,63712,/product/63712,/upload/243930.svg,"7.5"" Micron 256GB",478296,4782,"{'processor': '2x4.3 ГГц', 'sim': '3 SIM', 'ma..."
4,9.html,85485,/product/85485,/upload/755940.webp,"7.3"" Seagate 192GB",457505,4575,"{'ram': '8 GB', 'matrix': 'AMOLED', 'camera': ..."
...,...,...,...,...,...,...,...,...
81,20.html,91283,/product/91283,/upload/993114.webp,"5.2"" SanDisk 192GB",32586,325,"{'processor': '6x2.5 ГГц', 'ram': '7 GB', 'mat..."
82,22.html,73463,/product/73463,/upload/538992.jpg,"7.5"" SanDisk 16GB",30666,306,"{'ram': '3 GB', 'sim': '4 SIM', 'resolution': ..."
83,1.html,20522,/product/20522,/upload/736427.svg,"5.6"" Seagate 208GB",15608,156,"{'processor': '2x4.2 ГГц', 'sim': '1 SIM', 'ma..."
84,10.html,75265,/product/75265,/upload/143969.jpg,"5.7"" SanDisk 64GB",12496,124,"{'processor': '6x1.8 ГГц', 'ram': '6 GB', 'sim..."
85,12.html,63870,/product/63870,/upload/795899.svg,"6.0"" Seagate 208GB",11791,117,"{'processor': '8x3.5 ГГц', 'matrix': 'IPS'}"